<div class="container bg-secondary w-50 p-3">
    <div>
        <form class="mx-auto" action="/register" method="POST">
            {{#if success}}
                <div class="alert alert-success" role="alert">
                    You have successfully registered a new course.
                </div>
            {{else if error}}
                <div class="alert alert-danger" role="alert">
                    There was an error handling your request. Did you fill out all fields?
                </div>
            {{/if}}
            <div class="form-group">
                <label for="courseName">Course Name</label>
                <input type="text" class="form-control" name="courseName" placeholder="Course Name">
            </div>
            <div class="form-group">
                <label for="courseCode">Course Code</label>
                <input type="text" class="form-control" name="courseCode" placeholder="Course Code">
            </div>
            <div class="form-group">
                <label for="creditHour">Credit Hour</label>
                <input type="text" class="form-control" name="creditHour" placeholder="Credit Hour">
            </div>
            <div class="form-group">
                <label for="term">Term</label>
                <input type="text" class="form-control" name="term" placeholder="Term">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{{> courses courseList=courseList}}